<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="~/Content/TAKstyle.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/tak_particles.js"></script>
        <script src="~/Scripts/tetris.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        @RenderSection("Scripts", required: false)
    </body>
</html>