@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "T.A.K.";
}
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
</head>

@section featured {
<section class="featured">
    <img src="~/Images/Website Background Pattern.jpg" class="bg">
    <h1>@Page.Title</h1>
    <img src="~/Images/Canvas.jpg" id="gamebg" class="gameWindow">
    <img src="~/Images/SpritesAndCursor_v1.png" id="sprites">
    <canvas id="game" class="gameWindow"></canvas>
    <h2>
        <span id="p1Score">0</span>
        <span id="p2Score">0</span>
    </h2>
    <button onclick="start()">Start Game</button>
    <button onclick="showSettings()">Settings</button>
    <button onclick="buildSettings()">Save</button>
    <button onclick="hideSettings()">Cancel</button>
    <ul class='settingsList'>
        <li>
            <input type='radio' value='1' name='radio' id='speed1'/>
            <label for='speed1'>Slow</label>
        </li>
        <li>
            <input type='radio' value='2' name='radio'  id='speed2'/>
            <label for='speed2'>Normal</label>
        </li>
        <li>
            <input type='radio' value='3' name='radio'  id='speed3'/>
            <label for='speed3'>Fast</label>
        </li>
    </ul>
    <ul class='settingsList'>
        <li>
            <input type='radio' value='2' name='radio' id='match1'/>
            <label for='match1'>2</label>
        </li>
        <li>
            <input type='radio' value='3' name='radio'  id='match2'/>
            <label for='match2'>3</label>
        </li>
        <li>
            <input type='radio' value='4' name='radio'  id='match3'/>
            <label for='match3'>4</label>
        </li>
    </ul>
</section>
 }