body {
    color:white;
}

.bg {
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

h1{
    z-index:1;
    font-size:700%;
    position:fixed;
	left:41%;
}

h2{
    z-index:1;
    font-size:850%;
    position:fixed;
	left:37%;
	top:70%;
	width: auto;
}

.gameWindow{
    width:85%;
    height:75%;
    position:fixed;
	top: 15%;
	left: 7%;
}

span{
    padding-left:.5em;
    padding-right:.5em;
}

.sprite{
    background-image: url("Sprites.png");
    width: 128px;
    height: 128px;
}

.settingsList {
    z-index:2;
    font-size:300%;
    position:relative;
	left:5%;
	list-style: none;
}

.settingsList li {
    display: inline-block;
    margin-right: 15px;
}

.settingsList input {
    visibility:hidden;
}

.settingsList label {
    cursor: pointer;
}

.settingsList input:checked + label {
    background: #d42825;
}