body {
    color:white;
}

.bg {
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

h1{
    z-index:1;
    font-size:700%;
    position:fixed;
	left:41%;
}

h2{
    z-index:1;
    font-size:850%;
    position:fixed;
	left:37%;
	top:70%;
	width: auto;
}

.gameWindow{
    width:85%;
    height:75%;
    position:fixed;
	top: 15%;
	left: 7%;
}

span{
    padding-left:.5em;
    padding-right:.5em;
}

.sprite{
    background-image: url("Sprites.png");
    width: 128px;
    height: 128px;
}

#mainScreen {
    z-index: 2;
}

#mainScreen button {
    position: relative;
    color: #d42825;
    font-size: 300%;
    left: 35%;
    top: 40%;
}

.settingsList {
    list-style: none;
}

#settingsScreen {
    background-color: #1b162f;
    z-index: 2;
    font-size: 300%;
    display: none;
}

.settingsList li {
    display: inline-block;
}

.settingsList input {
    visibility: hidden;
}

.settingsList label {
    cursor: pointer;
}

.settingsList input:checked + label {
    background: #d42825;
}

#settingsScreen label, #settingsScreen input, #settingsScreen output, #settingsScreen button {
    position: relative;
    left: 2%;
    margin-top: 4%;
}

#settingsScreen button {
    height: 10%;
    width: 20%;
    font-size: 100%;
}

#gameOver {
    z-index: 2;
    position: fixed;
    left: 18.5%;
    top: 45%;
    width: 15%;
    display:none;
}

.gameOverButton {
    margin-left: auto;
    margin-right: auto;
    width:100%;
    font-size: 200%;
    color: #d42825;
}