@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

html{
    /*background-image: linear-gradient(to right, #01F800, #F818F8, #F81010, #F8F800, #01F8F8, #4070F8);*/
	background-color: #10062B;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 100%;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
			
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

.spritesheet{
	display: none;
}

body{
	font-family: 'Lato', 'Century Gothic', Arial, sans-serif;
	color:white;
}

a{
	font-size:125%;
	border-right: 1px solid white;
	padding: 0 15px;
}

#First{
	border-left: 1px solid white;
	border-right: 1px solid white;
}

img{
	position:absolute;
	width:35%;
	left:3.5%;
}

.Logo{
    z-index:-1;
	top:30%;
	left:22%;
	height:25%;
	width:55%;
}

#GameBanner{
    z-index:2;
    position:fixed;
	left:30%;
    height:20%;
    width:100%;
}

#LinkDiv{
	position:absolute;
	padding:2px;
	top:1%;
	right:1%;
	margin:auto;
}

#LinkDiv a{
	float:left;
}

#Scoreboard{
    z-index:2;
    font-size:300%;
    position:fixed;
	left:28%;
	top:55%;
	width: auto;	
}

#Scoreboard span{
    float:left;	
}

.gameWindow, .gameWindow canvas{
    z-index:1;
    width:100%;
    height:100%;
    position:fixed;
	top: 0%;
	left: 0%;
}

span{
    padding-left:.5em;
    padding-right:.5em;
}

#settings{
    margin-top: 1%;
}

.settingsList {
    list-style: none;
}

.settingsList li {
    display: inline-block;
}

.settingsList input {
    visibility: hidden;
}

.settingsList label {
    cursor: pointer;
}

.settingsList input:checked + label {
    background: #D42825;
}

#settingsScreen label, #settingsScreen input, #settingsScreen output {
    position: relative;
    left: 2%;
    margin-top: 1%;
}

button{
    height:20%;
    width:20%;
    color:#01F8F8;
    font-size:200%;
    background-size: 100% 100%;
    border: none;
    background-color: Transparent;
    background-image:url(../Images/Button.svg);
}

button:active {
    background-image:url(../Images/Clicked_Button.svg);
}

#mainScreen, #gameOver{
    z-index: 2;
    top: 40%;
}

#mainScreen button, #gameOver button{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#gameOver {
    display: none;
}

#settingsScreen {
    background-color: #10062B;
    z-index: 2;
    font-size: 100%;
    display: none;
}

#performance{
    z-index: 2;
    font-size:100%;
    position:fixed;
	left:1%;
	bottom:1%;	
    display: none;
}