@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

@font-face {
    font-family: 'PressStart2P' ;
    src: url('../Fonts/PressStart2P.ttf') format('truetype');
}

html{
    /*background-image: linear-gradient(to right, #01F800, #F818F8, #F81010, #F8F800, #01F8F8, #4070F8);*/
	background-color: #10062B;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

.spritesheet{
	display: none;
}

body{
	font-family: 'Lato', 'Century Gothic', Arial, sans-serif;
	color:white;
}

a{
	font-size:125%;
	border-right: 1px solid white;
	padding: 0 15px;
}

#first{
	border-left: 1px solid white;
	border-right: 1px solid white;
}

img{
	position:absolute;
	width:35%;
	left:3.5%;
}

.logo{
    z-index:-1;
	top:30%;
	left:22%;
	height:25%;
	width:55%;
}

#game-banner{
    z-index:2;
    position:fixed;
	left:30%;
    height:20%;
    width:100%;
}

#link-div{
	position:absolute;
	padding:2px;
	top:1%;
	right:1%;
    margin:auto;
    z-index: 99;
}

#link-div a {
	float:left;
}

button {
    height:20%;
    width:20%;
    color:#01F8F8;
    font-size:200%;
    background-size: 100% 100%;
    border: none;
    background-color: Transparent;
    background-image:url(../Images/Button.svg);
}

button:active {
    background-image:url(../Images/Clicked_Button.svg);
}

#main-screen, #game-over {
    z-index: 2;
    top: 40%;
}

#main-screen button, #game-over button{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#game-over {
    display: none;
}

#scoreboard, #settings-display {
    z-index:2;
    font-size:150%;
    font-weight: 500;
    position:fixed;
	top:55%;
    width: fit-content;
    text-shadow: .20rem .20rem #000000;
    display:inline-block;
}

#scoreboard {
	left:25%;
}

#settings-display {
	right:20%;
}

span {
    padding-left:.5em;
    padding-right:.5em;
}

#scoreboard span, #settings-display span {
    background-color: rgba(0, 0, 0, .25);
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, .25);
    border-radius: 2px;
}

#scoreboard h2, #settings-display h2 {
    background-color: rgba(0, 0, 0, .25);
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, .25);
    font-size: 75%;
    font-weight: 400;
    border-radius: 2px;
}

.game-window, .game-window canvas {
    z-index:1;
    width:100%;
    height:100%;
    position:fixed;
	top: 0%;
	left: 0%;
}

#performance {
    z-index: 2;
    font-size:100%;
    position:fixed;
	left:1%;
	bottom:1%;	
    display: none;
}

#settings-screen {
    background-color: #10062B;
    z-index: 2;
    display: none;
    padding-left:2%;
}

h1 {
    font-weight: 400;
    margin-left: 2%;
}

h1:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    /*margin: 0 auto;  This will center the border. */
    width: 35%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid #01F8F8; /* This creates the border. Replace black with whatever color you want. */
}

#settings-options label, #settings-options input, #settings-options output, .settings-name{ 
    margin-top: 2%;
}